
.container {
	margin-top: 50px;
}

.mac-card-main {
	padding: 10px;
}

.mac-card-main img {
	margin-top: 10px;
}

.mac-card {
	margin: 15px;
	margin-top: 25px;
}

.mac-card img {
	margin-top: 5px;
	padding: 10px;
}

.mac-btn a {
	color: white;
	text-decoration: none;
}

.mac-table {
	margin-top
}

.mac-contacts {
	color: white;
	float: left;
}